.container{
    max-width: 1080px;
    margin: 0 auto;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'DM Serif Display', serif;
}
p, a, li, time{
    font-family: 'DM Sans', sans-serif;
}
img {
    max-width: 100%;
    height: auto;
}
a{
    text-decoration: none !important;
    color: #000;
}
li{
    list-style: none !important;
}
ul{
    margin: 0 !important;
    padding: 0 !important;
}
.logo{
    width: 200px;
    transition: all 0.4s ease-in-out;
    vertical-align: middle;
    -webkit-transform: translate3d(0, 0, 0);
}
.sticky_header .logo {
    width: 150px;
}
.sticky_header .navbar {
    padding: 10px 0 !important;
}
.navbar {
    padding: 13px 0 !important;
}
.sticky_header .navbar{
    background-color: #002b00 !important;
    box-shadow: 0 0 7px rgb(0 0 0 / 10%);
    padding: 8px 0;
}
.navbar-dark .navbar-toggler-icon{
    background-image: unset !important;
}
.navbar-dark .navbar-toggler{
    color: #000 !important;
    border: none !important;
    font-size: 24px;
}
.navbar-toggler:focus {
    box-shadow: unset !important;
}
.header__menu{
    height: 80px;
}
.dropdown-toggle::after {
    margin-left: 0.4em !important;
    vertical-align: middle !important;
}
.image-icon{
    width: 100%;
    height: auto;
}
.image-icon img{
    width: 149px;
    object-fit: contain;
    height: fit-content;
}
/* header style */
#top-menu .fa-bars{
    color: #00a35c;
}
div#collapsibleNavbar{
    position: absolute;
    display: none !important;
    transition: all 0.3s;
}
.overflow div#collapsibleNavbar, .overflow div#collapsibleNavbar.show{
    display: flex !important;
    align-items: center;
    justify-content: center;
    flex-direction: column  ;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
}
.menu_close{
    position: absolute;
    top: 30px;
    right: 30px;
}
.menu_close .fa-xmark {
    color: #ffffff;
    font-size: 27px;
    cursor: pointer;
}
.overflow .navbar-dark .navbar-toggler,
.overflow .navbar-dark .navbar-brand{
    opacity: 0.2;
}
body.overflow{
    overflow: hidden;
    position: relative;
}
div#collapsibleNavbar .navbar-nav{
    flex-direction: column;
}
div#collapsibleNavbar ul li{
    padding: 0;
    text-align: center;
}
div#collapsibleNavbar ul li:not(:last-child){
    margin-bottom: 30px;
}
body.overflow::before{
    position: absolute;
    content: '';
    background-color: rgba(0,43,0,0.86);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
/* header style end  */


/****************************************************/
#top-menu {
    background: #fff;
}
.navbar.fixed-top {
    animation: slideDown 0.3s ease-out;
}
@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
.navbar .navbar-brand {
    font-family: 'DM Serif Display', serif;
    font-size: 28px;
    color: #79745c !important;
}
#navbarNavDropdown {
    flex-grow: inherit;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #709176;
}
.content__inner {
    padding: 0 190px;
}
.content__inner h3 {
    font-size: 46px;
    margin: 0 0 20px;
}
.content__inner p, .content__inner ul li {
    font-size: 20px;
    line-height: 30px;
}
.content__inner ul li:not(:last-child) {
    margin-bottom: 30px;
}
.content__inner ul li {
    list-style: disc outside !important;
    padding-left: 15px;
}
.color-bg h3{
    color: #e6f5a7;
}
.light-color-bg h3{
    color: #79745c;
}
.light-color-bg p{
    color: #212529;
}
.color-bg p{
    color: #fff;
}
.energy-image__bg{
    background: url(../images/moritz-kindler-gD8IO0E4OZM.jpg) center bottom no-repeat;
}
.content__inner .inner_list li:not(:last-child) {
    margin: 0;
}
.content__inner .inner_list {
    padding: 0 0 0 20px !important;
}
.color-bg .content__inner ul li {
    color: #fff;
}
.team .vh-100{
    padding: 60px 0;
}
.team {
    background: #79745c;
}
.team-details .member {
    border-radius: 50% 50% 50% 50%;
    overflow: hidden;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 0 auto 30px;
}
.team-details p {
    color: #fff;
}
.team-details h3 {
    color: #e6f5a7;
    margin: 0 0 15px;
}
.team-details {
    text-align: center;
}
.content__row .vh-100, .team .vh-100 {
    min-height: 700px;
}
.banner{
    background-position: center bottom;
    background-image: url(../images/katie-moum--LtFHnIh_Sg-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0;
    height: calc(100vh - 82px);
}
.what-we-do h3 {
    color: #79745c;
    margin: 0 0 20px;
    font-size: 32px;
}
.what-we-do {
    font-size: 20px;
    margin: 0 auto;
    padding: 50px 0;
}
.what-we-do ul li {
    margin-bottom: 10px;
    font-size: 18px;
}
.what-we-do ul li:before {
    content: '';
    width: 7px;
    height: 7px;
    display: inline-block;
    background: #000;
    border-radius: 100px;
    margin-right: 10px;
    vertical-align: middle;
}
#contact {
    background: #f9f9f9;
}
.contact .btn-primary {
    background: #79745c;
    width: 100%;
    border-color: #79745c;
    border-radius: 0;
    font-family: 'DM Sans', sans-serif;
    padding: 0.6rem 0.75rem;
}
.contact .btn-primary:hover, .contact .btn-primary:focus, .contact .btn-primary:active {
    background: #709176;
    border-color: rgb(112 145 118);
}
.contact .btn-primary:focus, .contact .btn-check:active+.btn-primary:focus, .contact .btn-check:checked+.btn-primary:focus, .contact .btn-primary.active:focus, .contact .btn-primary:active:focus, .contact .show>.btn-primary.dropdown-toggle:focus {
    box-shadow:0 0 0 0.25rem rgba(112,145,118,.5) !important;
}
.contact .form-control {
    padding: .6rem .75rem;
    border-radius: 0;
    border: 1px solid #e9e9e9;
}
.contact .form-label, .contact .form-control {
    font-family: 'DM Sans', sans-serif;
}
textarea.form-control {
    min-height: 150px !important;
}
.contact .row {
    width: 100%;
}
.contact .content__inner {
    padding: 0;
    max-width: 700px;
    margin: 0 auto;
}
.bottom__footer {
    background: #3c392b;
    padding: 10px 0;
}
.bottom__footer p {
    color: #fff;
    font-size: 14px;
}
/****************************************************/

@media only screen and (max-width: 1600px){
    .content__inner {
        padding: 0 100px;
    }
}
@media only screen and (max-width: 1400px){
    .content__inner {
        padding: 0 40px;
        max-width: 520px;
        margin: auto;
    }
    #team .row{
        justify-content: center !important;
    }
}
@media only screen and (max-width: 1201px){
    #team .vh-100, .content__row .vh-100{
        height: auto !important;
        min-height: 700px;
    }
    
}
@media only screen and (max-width: 1180px){
    .container{
        max-width: 90% !important;
        padding: 0 !important;
    }
    .content__inner h3 {
        font-size: 40px;
    }
}
@media only screen and (max-width: 991px){
    .image-icon img{
        width: 70%;
        margin: 40px auto 0;
        max-width: 390px;
    }
    #team .vh-100, .content__row .vh-100{
        min-height: 500px;
        padding: 60px 0;
    }
    #navbarNavDropdown .navbar-nav{
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }
    #top-menu .navbar-toggler{
        border: none !important;
        padding-left: 0;
        padding-right: 0;    
    }
    #advocacy-outreach .col-lg-6:first-child {
        background: #79745c;
    }
    #trusted-network .col-lg-6:first-child {
        background: #709176;
    }
    #advocacy-outreach .col-lg-6:first-child .content__inner h3 {
        color:#e6f5a7 !important;
    }
    #trusted-network .col-lg-6:first-child .content__inner h3 {
        color:#e6f5a7 !important;
    }
    #advocacy-outreach .col-lg-6:first-child .content__inner ul li, #advocacy-outreach .col-lg-6:first-child p,
    #trusted-network .col-lg-6:first-child .content__inner ul li, #trusted-network .col-lg-6:first-child p{
        color: #fff !important;
    }
    #advocacy-outreach .color-bg, #trusted-network .color-bg {
        background:#fff !important;
    }
    #advocacy-outreach .color-bg .content__inner ul li, #advocacy-outreach .color-bg p, #advocacy-outreach .color-bg .content__inner h3,
    #trusted-network .color-bg .content__inner ul li, #trusted-network .color-bg p, #trusted-network .color-bg .content__inner h3 {
        color: var(--bs-body-color) !important;
    }
    .content__inner h3 {
        font-size: 36px;
    }
    .what-we-do {
        padding: 30px 0;
        max-width: 500px;
        margin: 0 auto;
    }
    .what-we-do h3 {
        margin: 0 0 15px;
        font-size: 28px;
    }
}
@media only screen and (max-width: 768px){
    .logo {
        width: 140px;
        height: 40px;
        object-fit: contain;
    }
    .image-icon img{
        display: none !important;
    }
}
@media only screen and (max-width:767px) {
    #team .vh-100, .content__row .vh-100{
        min-height: 350px;
    }
    .content__inner {
        padding: 0;
        max-width: 85%;
    }
    .container {
        max-width: 85% !important;
    }
}
@media only screen and (max-width: 600px){
    .content__inner h3{
        font-size: 34px;
    }
    .content__inner p, .content__inner ul li {
        font-size: 18px;
        line-height: 28px;
    }
    .content__inner ul li{
        padding-left: 6px;
    }
    .navbar .navbar-brand{
        font-size: 20px;
    }
    .what-we-do {
        font-size: 18px;
        line-height: 28px;
    }
    .what-we-do ul li {
        margin-bottom: 5px;
    }
}